{% extends "base_board.html" %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{% block title %}
		<h2> 글 삭 제</h2>
	{% endblock %}
	{% block content %}
		<form method="post" action="bdelete" name="passwdform">
			{% csrf_token %}
			<input type="hidden" name="num" value="{{num}}">
			<input type="hidden" name="pagenum" value="{{pagenum}}">
			<table>
				<tr>
					<th colspan="2">
						{% if message %}
							{{message}}
						{% else %}
							비밀번호를 다시 입력하세요
						{% endif %}
					</th>
				</tr>
				<tr>
					<th> 비밀번호 </th>
					<td>  
						<input class="input" type="password" name="passwd" maxlength="30" autofocus>
					</td>
				</tr>
				<tr>
					<th colspan="2">
						<input class="inputbutton" type="submit" value="삭제">
						<input class="inputbutton" type="button" value="삭제취소"
							onclick="location='list?pagenum={{pagenum}}'">
					</th>
				</tr>
				
			</table>
		</form>
	{% endblock %}
</body>
</html>